//-var list = ['1','2','3'];
html
	head
		//- bower:css
		//- endbower
		//- bower:js
		script(src='/lib/jquery/dist/jquery.js')
		script(src='/lib/bootstrap/dist/js/bootstrap.js')
		//- endbower
		//- inject:css
		
		link(rel="stylesheet", href="/css/styles.css")
		
		//- endinject
		//- inject:js
		
		script(src="/js/bootstrap.min.js")
		
		//- endinject
		title MyApp
	body(class='myClass')
		h1(id='MyId') My App
		p
			h3 sub heading
		ul
			each val in list
				li= val